body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    /* background: url(https://www.biospectrumasia.com/uploads/articles/1-11926.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
}
.pho2{
    width: 1200px;
    background-size: cover;
    /* background-size: 50%; */
    height: 655px;
    }
.center2{
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50% , -50%);
    width: 300px;
    background-color: rgb(212, 212, 212);
    padding-top: 130px;
    padding-bottom: 135px;
    padding-right: 23px;
    padding-left:5px;
    
}
.center2 h1 {
    text-align: center;
    color: #509CE8;
    padding: 0 40px ;
    font-weight: bold;
    
}
.txt_field2{
    
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 20px 0;
}
.txt_field2 input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    font-weight: bold;
    
}
.txt_field2 label{
    position: absolute;
    bottom:30%;
    color: white;
    font-weight: bold;
    pointer-events: none;
    transition: .5s;
}
.txt_field2 span ::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 20px;
    background: #509CE8;
}
.txt_field2 input:focus ~ label , 
.txt_field2 input:valid ~ label{
    top: -15px;
    color: #509CE8;
    font-weight: bold;
}
.Sign-Up{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #509CE8;
    color: white;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.Sign-Up a {
    width: 100%;
    text-decoration: none;
    padding-left: 120px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.Sign-Up:hover{
    border-color: #509CE8;
    transition: .5s;
}